<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ultrasonic_sensor" params="name *origin">
    <xacro:property name="sonar_angle_max" value="${radians(15)}"/>
    <joint name="sonar_${name}" type="fixed">
      <axis xyz="0 1 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="link_chassis"/>
      <child link="base_sonar_${name}"/>
    </joint>
    <link name="base_sonar_${name}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.05 0.037"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.01 0.05 0.037"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <inertial>
        <mass value="0.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
    </link>
    <gazebo reference="base_sonar_${name}">
    <sensor name='range_sensor_${name}' type='gpu_lidar'>
    <!-- disable realsense if you want to get meaningful data -->
  <topic>/mirte/scanSonar${name}</topic>
  <frame>base_sonar_${name}</frame>
  <update_rate>10</update_rate>
  <ray>
    <scan>
      <horizontal>
        <samples>5</samples> 
              <min_angle>${-sonar_angle_max/2}</min_angle>
              <max_angle>${sonar_angle_max/2}</max_angle>
      </horizontal>
      <vertical>
        <samples>5</samples> 
        <!-- sonar would otherwise touch the ground -->
        <min_angle>0</min_angle> 
        <max_angle>${sonar_angle_max/2}</max_angle>
      </vertical>
    </scan>
    <range>
      <min>0.01</min>
      <max>5.0</max>
      <!-- you'll get 6m if there is no obstacle, not really ros rep117 okay -->
      <resolution>0.01</resolution>
      <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
    </range>
  </ray>
  <always_on>1</always_on>
  <visualize>true</visualize>
</sensor>
      
    </gazebo>
  </xacro:macro>
</robot>
