<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  xmlns:gz="http://gazebosim.org/schema"
  name="mirte_master_description">

  <xacro:arg name="front_camera_enable" default="False" />
  <xacro:arg name="sonar_enable" default="False" />
  <xacro:arg name="lidar_enable" default="True" />
  <xacro:arg name="depth_camera_enable" default="False" />
  <xacro:arg name="imu_enable" default="False" />
  <xacro:arg name="wheels_enable" default="True" />
  <xacro:arg name="sim" default="True" />

  <xacro:arg name="use_correct_laser_frame" default="True" />

    <xacro:arg name="arm_enable" default="True" />
    <xacro:arg name="arm_collisions_enable" default="True" />
    <xacro:arg name="gripper_camera_enable" default="True" />
  <xacro:include filename="$(find mirte_master_description)/urdf/mirte_master_base.gazebo.xacro" />

  <!-- <xacro:include filename="$(find mirte_master_description)/urdf/ros2_control.xacro"/>   -->

  <link
    name="MIRTE_Master">
    <inertial>
      <origin
        xyz="0.0560559787388138 -0.046464113006352 -0.0107223863938312"
        rpy="0 0 0" />
      <mass
        value="2.87187694310402" />
      <inertia
        ixx="0.00268778032094885"
        ixy="5.35777394513109E-05"
        ixz="-1.34925830248996E-06"
        iyy="0.006197833679705"
        iyz="3.08873367085267E-06"
        izz="0.00472317803422592" />
    </inertial>
    <!-- <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/MIRTE_Master.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/MIRTE_Master.STL" />
      </geometry>
    </collision> -->
  </link>

<xacro:if value="$(arg wheels_enable)">

  <xacro:property name="wheel_radius" value="0.050" />
  <xacro:property name="wheel_length" value="0.055" />
  <xacro:property name="wheel_mass" value="0.15" /> 

  <xacro:property name="wheel_velocity" value="8" />
  <xacro:property name="wheel_effort" value="5" />
  <xacro:include filename="$(find mirte_master_description)/urdf/wheel.xacro" />
   <!-- 0.025   -1 -->
  <joint
    name="Wheels_joint"
    type="fixed">
    <!-- <origin
      xyz="0.0316698713027512 -0.052970257715017 -0.0113974879084128"
      rpy="1.5707963267949 0 2.66843002434429E-05" /> -->
    <parent
      link="MIRTE_Master" />
    <child
      link="Wheels" />
    <axis
      xyz="0 0 0" />
  </joint>
   <link
    name="Wheels">
    <inertial>
      <origin
        xyz="-1.48511945796681E-10 1.64047594952699E-12 -0.0630000002157284"
        rpy="0 0 0" />
      <mass
        value="1.06645993257182" />
      <inertia
        ixx="0.000322183176884843"
        ixy="-3.32280220325118E-11"
        ixz="8.60065297084518E-15"
        iyy="0.000372782415195671"
        iyz="1.24669808687478E-13"
        izz="0.000322183176907626" />
    </inertial>
    <!-- <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Wheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual> -->
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" /> -->
      <!-- <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Wheels.STL" />
      </geometry> -->
    <!-- </collision> -->
  </link>
  <!-- <joint
    name="Wheels_joint"
    type="fixed">
    <origin
      xyz="0.0316698713027512 -0.052970257715017 -0.0113974879084128"
      rpy="1.5707963267949 0 2.66843002434429E-05" />
    <parent
      link="MIRTE_Master" />
    <child
      link="Wheels" />
    <axis
      xyz="0 0 0" />
  </joint> -->
    <xacro:mecanum_wheel name="front_left" wheel_type="left" link_origin="0.025">
      <!-- <origin
        xyz="${0.153 - 0} -0.085 -0.0455"
        rpy="1.5708 0 -1.5708" /> -->
        <!-- 0.080503 0.1575 -0.063 -->
        <origin
        
        xyz="0.080503 0.1075 -0.063"
        rpy="0 0 0" />
    </xacro:mecanum_wheel>

   <!-- 0.025   -1 -->
    <!-- <xacro:mecanum_wheel name="rear_left" wheel_type="right" link_origin="0.025">
      <origin
        xyz="-0.080503 0.1075 -0.063"
        rpy="1.5708 0 -1.5708" />
    </xacro:mecanum_wheel> -->

   <!-- -0.025   -1 -->
    <xacro:mecanum_wheel name="front_right" wheel_type="right" link_origin="-0.025">
            <origin
        xyz="0.080503 ${-0.1075} -0.063"
        rpy="0 0 0"/>
<!-- pi
      <origin
        xyz="${-0.153 + wheel_length} -0.085 -0.0455"
        rpy="1.5708 0 -1.5708" /> -->
    </xacro:mecanum_wheel>

   <!-- -0.025   -1 -->
    <xacro:mecanum_wheel name="rear_right" wheel_type="left" link_origin="0.025">
            <origin
        xyz="-0.080503 ${-0.1075-0.05} -0.063"
        rpy="0 0 0"/> 
        <!-- pi -->
    </xacro:mecanum_wheel>
    <xacro:mecanum_wheel name="rear_left" wheel_type="right" link_origin="-0.025">
            <origin
        xyz="-0.080503 ${0.1075+0.05} -0.063"
        rpy="0 0 0"/>
    </xacro:mecanum_wheel>
    
</xacro:if>



  <xacro:if value="false">
  <link
    name="Wheels">
    <inertial>
      <origin
        xyz="-1.48511945796681E-10 1.64047594952699E-12 -0.0630000002157284"
        rpy="0 0 0" />
      <mass
        value="1.06645993257182" />
      <inertia
        ixx="0.000322183176884843"
        ixy="-3.32280220325118E-11"
        ixz="8.60065297084518E-15"
        iyy="0.000372782415195671"
        iyz="1.24669808687478E-13"
        izz="0.000322183176907626" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Wheels.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Wheels.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="Wheels_joint"
    type="fixed">
    <origin
      xyz="0.0316698713027512 -0.052970257715017 -0.0113974879084128"
      rpy="1.5707963267949 0 2.66843002434429E-05" />
    <parent
      link="MIRTE_Master" />
    <child
      link="Wheels" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FL">
    <inertial>
      <origin
        xyz="1.64210277320276E-08 -0.0249358927959083 -2.9391208737628E-10"
        rpy="0 0 0" />
      <mass
        value="0.266614983225963" />
      <inertia
        ixx="8.05457942706572E-05"
        ixy="-8.27238041365495E-12"
        ixz="-2.59007136868674E-15"
        iyy="9.31956038958428E-05"
        iyz="4.62220656790577E-14"
        izz="8.05457942772177E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/FL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/FL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_joint"
    type="continuous">
    <origin
      xyz="0.080503 0.1575 -0.063"
      rpy="0 0 0" />
    <parent
      link="Wheels" />
    <child
      link="FL" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="FR">
    <inertial>
      <origin
        xyz="-1.65950879149612E-08 0.0249358927992375 -1.90523770371431E-10"
        rpy="0 0 0" />
      <mass
        value="0.266614983059974" />
      <inertia
        ixx="8.05457941718005E-05"
        ixy="-8.31949817444523E-12"
        ixz="4.69589311634494E-15"
        iyy="9.31956037018452E-05"
        iyz="7.81709378490802E-14"
        izz="8.05457941763835E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/FR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/FR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_joint"
    type="continuous">
    <origin
      xyz="0.080504 -0.1575 -0.063"
      rpy="0 0 0" />
    <parent
      link="Wheels" />
    <child
      link="FR" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="BL">
    <inertial>
      <origin
        xyz="1.62607431200557E-08 -0.0250641072007451 -1.88689787752883E-10"
        rpy="0 0 0" />
      <mass
        value="0.266614983059831" />
      <inertia
        ixx="8.05457941712294E-05"
        ixy="-8.33444641627667E-12"
        ixz="1.83416165679779E-15"
        iyy="9.3195603703169E-05"
        iyz="7.7210144316527E-14"
        izz="8.05457941783177E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/BL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/BL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_joint"
    type="continuous">
    <origin
      xyz="-0.080504 0.1575 -0.063"
      rpy="0 0 0" />
    <parent
      link="Wheels" />
    <child
      link="BL" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="BR">
    <inertial>
      <origin
        xyz="-1.66801963491503E-08 0.0250641072040845 -1.89932769165124E-10"
        rpy="0 0 0" />
      <mass
        value="0.266614983226053" />
      <inertia
        ixx="8.05457942711553E-05"
        ixy="-8.30169702797618E-12"
        ixz="4.66066887817491E-15"
        iyy="9.31956038948138E-05"
        iyz="-7.69333387336657E-14"
        izz="8.05457942757067E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/BR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/BR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_joint"
    type="continuous">
    <origin
      xyz="-0.080503 -0.1575 -0.063"
      rpy="0 0 0" />
    <parent
      link="Wheels" />
    <child
      link="BR" />
    <axis
      xyz="0 -1 0" />
  </joint>

</xacro:if>


  <xacro:if value="$(arg arm_enable)">
    <xacro:include filename="$(find mirte_master_description)/urdf/arm2.xacro" />
  </xacro:if>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0344310118221643 -0.0286648891259541 -0.0113871267936065"
        rpy="0 0 0" />
      <mass
        value="1.45644924765411" />
      <inertia
        ixx="0.00217714063325471"
        ixy="-2.06524983331219E-06"
        ixz="1.37759237913749E-07"
        iyy="0.0057166253061052"
        iyz="-1.79629082951655E-07"
        izz="0.00413489218717276" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mirte_master_description/meshes/Base.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="Base_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <child
      link="MIRTE_Master" />
    <parent
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <xacro:if value="$(arg depth_camera_enable)">
    <xacro:include filename="$(find mirte_master_description)/urdf/depth_cam.xacro" />
  </xacro:if>

  <xacro:if value="$(arg sonar_enable)">
    <xacro:include filename="$(find mirte_master_description)/urdf/ultrasonic.xacro" />


    <joint name="chassis_base_joint" type="fixed">
      <parent link="base_link" />
      <child link="link_chassis" />
    </joint>


    <link name="link_chassis" />
    <!-- <xacro:ultrasonic_sensor name="front_left">
      <origin
        xyz="0.05297775289576 -0.120282421780502 -0.031"
        rpy="0 0 ${-pi/2+0.296705972839036}" />
    </xacro:ultrasonic_sensor>

    <xacro:ultrasonic_sensor name="front_right">
      <origin
        xyz="-0.05297775289576 -0.120282421780502 -0.031"
        rpy="0 0 ${-pi/2-0.296705972839036}" />
    </xacro:ultrasonic_sensor> -->

    <xacro:ultrasonic_sensor name="rear_left">
    <origin
      xyz="-0.10657 -0.0209239 0.071178"
      rpy="-1.5708 -0.54098 -3.1416" />
      <!-- <origin
        xyz="0.0565606470918482 0.119187021096338 -0.031"
        rpy="0 0 ${-pi/2 + 2.84488668075076}" /> -->
    </xacro:ultrasonic_sensor>


    <xacro:ultrasonic_sensor name="rear_right">
    <!-- TODO: check rotation of sonars -->
    <origin
      xyz="-0.10657 -0.0059239 -0.093973"
      rpy="-1.5708 0.54098 -3.1416" />
      <!-- <origin
        xyz="-0.0565606470918482 0.119187021096338 -0.031"
        rpy="0 0 ${-pi/2 -2.84488668075076}" /> -->
    </xacro:ultrasonic_sensor>
  </xacro:if>

  <xacro:if value="$(arg lidar_enable)">
    <xacro:include filename="$(find mirte_master_description)/urdf/lidarv2.xacro" />
  </xacro:if>

</robot>