<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
    <xacro:macro name="wheel_gazebo" params="id wheel_type">
        <gazebo reference="${id}_wheel">
            <!-- wheel_${id} -->
            <selfCollide>false</selfCollide>
            <gravity>true</gravity>
            <xacro:if value="${id == 'front_left'}">
                <!-- -1 x x lijkt ok voor zijwaarts -->
                                <material>Gazebo/Blue</material><fdir1 gz:expressed_in="MIRTE_Master">1 1 0</fdir1>
            <mu1>1.0</mu1>
            <mu2>0.0</mu2>
            </xacro:if>
            <xacro:if value="${id == 'front_right'}">
                                <material>Gazebo/Yellow</material><fdir1 gz:expressed_in="MIRTE_Master">1 -1 0</fdir1>
            <mu1>1.0</mu1>
            <mu2>0.0</mu2>
            </xacro:if>
            <xacro:if value="${id == 'rear_left'}">
                                <material>Gazebo/Orange</material><fdir1 gz:expressed_in="MIRTE_Master">1 -1 0</fdir1>
            <mu1>1.0</mu1>
            <mu2>0.0</mu2>
            </xacro:if>
            <xacro:if value="${id == 'rear_right'}">
                                <material>Gazebo/Red</material><fdir1 gz:expressed_in="MIRTE_Master">1 1 0</fdir1>
            <mu1>1.0</mu1>
            <mu2>0.0</mu2>
            </xacro:if>
            <!-- <xacro:if value="${wheel_type == 'left'}">
                <material>Gazebo/DarkGrey</material>

                <fdir1 gz:expressed_in="base_link">1 1 0</fdir1>


            </xacro:if>
            <xacro:if value="${wheel_type == 'right'}">
                <material>Gazebo/Purple</material>

                <fdir1 gz:expressed_in="base_link">-1 1 0</fdir1>

            </xacro:if> -->
        </gazebo>
    </xacro:macro>
</robot>


<!-- 
1 0 0 : beide, dan rondjes

0 1 0 : beide, ook rondjes

0 0 1:  beide, originele gebeueren, dan heen en weer


z doet weinig
 -->